@import '~bootstrap/scss/bootstrap';
@import 'typography';

h1 {
  display: flex;
  justify-content: center;
}

.sign-in-container {
  padding: 10px 50px 30px;
  width: 50%;

  fieldset {
    border: 1px groove;
    margin: 0 0 1.5em;
    padding: 0 1.4em 1.4em;
    width: inherit;
  }

  legend {
    border-bottom: 0;
    padding: 0 10px;
    width: inherit;
  }

  .form-control {
    margin: 5px;
  }
}

.btn {
  font-weight: bold;
  margin: 5px;
}

.box {
  border: 2px solid $black;
  font-size: 50px;
  height: 150px;
  padding-top: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px;
  width: 100px;
}

.box:hover {
  background-color: $blue;
  opacity: .5;
}

h1,
footer,
legend,
.btn,
.user-message,
.game-updates,
.whose-turn,
.user-stats,
.container,
.modal-title {
  font-family: 'Major Mono Display', monospace;
}

.game-updates,
.whose-turn {
  margin-bottom: 20px;
}

footer {
  bottom: 8px;
  display: block;
  position: fixed;
  right: 16px;
}
