@import '~bootstrap/scss/bootstrap';

.box {
  border: 2px solid $black;
  height: 150px;
  width: 100px;
  text-align: center;
  font-size: 50px;
  background-color: $green;
}

header,
footer,
.user-message,
.game-updates,
.whose-turn,
.user-stats,
.container {
  font-family: 'Major Mono Display', monospace;
}
